<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.panyuwen.gigotapibackend.mapper.ProductOrderMapper">

    <resultMap id="BaseResultMap" type="top.panyuwen.gigotapicommon.model.entity.ProductOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderNo" column="orderNo" jdbcType="VARCHAR"/>
            <result property="codeUrl" column="codeUrl" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="productId" column="productId" jdbcType="BIGINT"/>
            <result property="orderName" column="orderName" jdbcType="VARCHAR"/>
            <result property="total" column="total" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="payType" column="payType" jdbcType="VARCHAR"/>
            <result property="productInfo" column="productInfo" jdbcType="VARCHAR"/>
            <result property="formData" column="formData" jdbcType="VARCHAR"/>
            <result property="addGoldCoin" column="addGoldCoin" jdbcType="BIGINT"/>
            <result property="expirationTime" column="expirationTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orderNo,codeUrl,
        userId,productId,orderName,
        total,status,payType,
        productInfo,formData,addGoldCoin,
        expirationTime,createTime,updateTime
    </sql>

    <select id="getSucessTotalAmount" resultType="java.lang.Long">
        select sum(total) as sucessTotalAmount from product_order where status = 'SUCCESS'
    </select>
</mapper>
