<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.panyuwen.gigotapibackend.mapper.ProductInfoMapper">

    <resultMap id="BaseResultMap" type="top.panyuwen.gigotapicommon.model.entity.ProductInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="total" column="total" jdbcType="BIGINT"/>
            <result property="addGoldCoin" column="addGoldCoin" jdbcType="BIGINT"/>
            <result property="productType" column="productType" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="expirationTime" column="expirationTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        userId,total,addGoldCoin,
        productType,status,expirationTime,
        createTime,updateTime,isDelete
    </sql>
</mapper>
